<!-- views/index.ejs -->
<!doctype html>
<html ng-app="app">

<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> Node Authentication</h1>

        <p>Login or Register with:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
        <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
        <a href="/auth/twitter" class="btn btn-info"><span class="fa fa-twitter"></span> Twitter</a>
        <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google+</a>
    </div>


<head>
 <meta charset="UTF-8">
 <title></title>
 <link href="bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
 <script src="angular/angular.js"></script>
 <script src="angular-ui-router/release/angular-ui-router.js"></script>
 
 <script src="app.js"></script>
 <script src="services/service.js"></script>
 <script src="controllers/user.controller.js"></script>
</head>
<body>
<nav class="navbar navbar-default">
 <div class="container-fluid">
 <div class="navbar-header">
 <a class="navbar-brand" ui-sref="users">MEAN CRUD</a>
 </div>
 <ul class="nav navbar-nav">
 <li><a ui-sref="users">Home</a></li>
 <li><a ui-sref="create">Create</a></li>
 </ul>
 </div>
</nav>
 
<div class="container">
 <ui-view></ui-view>
</div>
</body>
</html>

