<html>
<head>
<title>Merchant Check Out Page</title>
</head>
<body>
	<center><h1>Please do not refresh this page... f<%= JSON.stringify(restdata) %></h1></center>

		<form method="post" action="https://pguat.paytm.com/oltp-web/processTransaction" id="f1"> 
		<!-- <form method="post" action="" id="f1">  -->
			
		<table border="1">
			<tbody>
			<% for (name in restdata) { 
				console.log(name); 
				console.log(restdata[name] ); 
			%>
				<input type="hidden" name='<%= name %>' value='<%= restdata[name] %>'>

			<%}%>
			</tbody>
		</table>
		<script type="text/javascript">
			// document.getElementById('f1').submit();
		</script>
	</form>
</body>
</html>


